[Desktop Entry]
Type=Application
Exec=batbeep
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=batbeep
Name=batbeep
Comment[en_US]=Battery beep daemon 
Comment=Battery beep daemon 
